body {
  margin: 0;
  background: #eee;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  padding: 20px 150px 50px;
}

.logo {
  font-size: 24px;
  font-weight: 900;
  color: #f9faf8;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 8px;
}

.logo,
.right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937;
  padding: 50px 150px;
  gap: 32px;
}

.hero-text,
.hero-image {
  flex: 1;
}

.hero-text .main {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.hero-text .secondary {
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: 12px;
}

.signup {
  background-color: #3882f6;
  color: white;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  padding: 8px 24px;
}

.hero-image {
  background-color: gray;
  color: #f9faf8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 220px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding-bottom: 100px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 150px;
  text-align: center;
}

.box {
  width: 150px;
  height: 150px;
  border: 3px solid #3882f6;
  border-radius: 10px;
}

.title {
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  margin: 40px 0;
}

.text {
  margin-top: 10px;
  color: #555;
}

.quote {
  background-color: #e5e7eb ;
  display: flex;
  flex-direction: column;
  padding: 50px 300px;
}

.italic-quote, .author{
  font-size: 36px;
  color: #1f2937;
  font-weight: 300;
}

.author{
  font-weight: bold;
  align-self: flex-end;
  margin-top: 16px;
  font-size: 24px;
}

.cta {
  background-color: #3882f6;
  padding: 40px 150px;
  border-radius: 8px;
  margin: 100px 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h3 {
  color: white;
  font-size: 24px;
  margin: 0;}
  p {
  color: #e5e7eb;
  margin: 0;}
}

.signup2 {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 12px 32px;
  border-radius: 8px;
  font-size: 18px;
}

.footer {
  background-color: #1f2937;
  color: #e5e7eb;
  text-align: center;
  padding: 20px;
}