body {
  margin: 0;
  background: #eee;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  padding: 20px 150px 50px;
}

.logo {
  font-size: 24px;
  font-weight: 900;
  color: #f9faf8;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 8px;
}

.logo,
.right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937;
  padding: 50px 150px;
  gap: 32px;
}

.hero-text,
.hero-image {
  flex: 1;
}

.hero-text .main {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.hero-text .secondary {
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: 12px;
}

.signup {
  background-color: #3882f6;
  color: white;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  padding: 8px 24px;
}

.hero-image {
  background-color: gray;
  color: #f9faf8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 220px;
}